/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.travel-background {
    background-image: url('../img/line.png');
    background-color: #e8e8e8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    max-width: 1190px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.travel {
    padding-top: 168px;
    opacity: 0.6;
    font-family: Arial;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #273d46;
    text-align: center;
}

.travel-title {
    font-family: 'Times New Roman';
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    color: #273d46;
    margin-bottom: 77px;
    text-align: center;
}

.man-travel {
    border: 10px solid #fff;
    margin-bottom: 105px;
}

.travel-text {
    opacity: 0.8;
    font-family: 'Times New Roman';
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    color: #273d46;
    width: 750px;
    margin-bottom: 64px;
    align-self: center;
}

.text:first-child {
    margin-bottom: 40px;
}

.travel-list {
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    max-width: 80%;
    margin: 0 220px 64px;
    padding: 0;
    text-align: left;
    list-style-type: none;
}

.travel-list li {
    position: relative;
    padding-left: 30px;
}

.travel-list li:before {
    content: '';
    background-image: url('../img/travel_icon.png');
    width: 25px;
    height: 19px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.list-item:last-child {
    text-decoration: line-through;
    color: #273d46;
}

.list-item:nth-child(2) {
    color: #80b7b3;
}

.list-item:nth-child(3) {
    font-weight: 700;
}

.travel-btn {
    width: 200px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    margin: 0 220px 137px;
    text-align: center;
    background-color: #80b7b3;
    border-radius: 25px;
    box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
    border: none;
    outline: none;
    cursor: pointer;
}

.travel-link {
    font-family: Arial;
    font-size: 14px;
    line-height: 50px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #fff;
}